<%= form_with(model: @event, class: "form-horizontal") do |f| %>
  <%# <%=render "/shared/error_messeage"%> 
  <div class="form-group">
    <%= f.label :title %><br />
    <%= f.text_field :title, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class:"form-control" , row: 10 %>
  </div>

  <div class="input-field col s6">
    <%= f.text_field :limit_date, class: "datepicker", :required => true %>
    <%= f.label :limit_date %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class:"form-control" , row: 10 %>
  </div>

  <%f.submit class: "btn btn-primary"%>
  
<% end %>