<h1>イベント一覧</h1>
  <div class="list-group">
    <% @events.each do |event| %>
      <%= link_to(event, class:"list-group-item list-group-item-action") do %>
        <h5 class="list-group-item-heading">
          <%= event.name %>
        </h5>
        <td>
          <%
          today = Date.today
          diff  = t.limit_date - today
          %>
          <% if    diff.to_i <= 0 %>
          <b class="red-text text-lighten-2"><%= t.limit_date %></b>
          <% elsif diff.to_i <= 3 %>
          <b class="amber-text"><%= t.limit_date %></b>
          <% else %>
          <b><%= t.limit_date %></b>
          <% end %>
        </td>
    <% end %>
  </div>