<% now = Time.zone.now %>
<h1>イベント作成</h1>

<%= form_for(model: @event, class: "form-horizontal") do |f| %>
  <%=render "/shared/error_messeage"%>
    <div class="form-group">
      <%= f.label :title %><br />
      <%= f.text_field :title, class:"form-control" %>
    </div>

   <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class:"form-control" , row: 10 %>
    </div>

    <div class="form-group">
      <%= f.label :start_at %><br />
      <div>
        <%= f.datetime_select :start_at, start_year: now.year, end_year:now.year + 1 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :end_at %><br />
      <div>
        <%= f.datetime_select :end_at, start_year: now.year, end_year:now.year + 1 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class:"form-control" , row: 10 %>
    </div>
  <%f.submit class: "btn btn-primary"%>
<% end %>