<h1 class="mt-3 mb-3">
  <%= @event.title %>
</h1>
<div class="card mb-2">
  <h5 class="card-header">イベント内容</h5>
  <div class="card-body">
    <p class="card-text">
      <%= @event.body %>
    </p>
  </div>
</div>

<div class="card mb-2">
  <h5 class="card-header">期限</h5>
  <div class="card-body">
    <p class="card-text">
      <%= "#{(@event.start_at,format: :long)}-#{(@event.end_at,format: :long)}" %>
    </p>
  </div>
</div>

<div class="card mb-2">
  <h5 class="card-header">内容</h5>
  <div class="card-body">
    <p class="card-text">
      <%= @event.body %>
    </p>
  </div>
</div>

<div class="card mb-2">
  <h5 class="card-header">主催者</h5>
  <div class="card-body">
    <p class="card-text">
      <%= @event.user.name  %>
    </p>
  </div>
</div>