<!DOCTYPE html>
<html>
  <head>
    <title>EventTodo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "wapper">
      <div class = "header">
        <%=link_to "Eventask", root_path, class: "navbar-brand mr-auto" %>
        <ul class="navbrand-nav">
          <%# <%if user_sign_in?%> 
            <li class="nav-item">
              <%=link_to "イベントを作る", new_event_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%=link_to "ログアウト", destroy_user_session_path, class: "nav-link", method: :delete %>
            </li>
          <%# <%elsif%> 
            <li class="nav-item">
              <%=link_to "ログイン", new_user_session_path, class: "nav-link", method: :post%>
            </li>
            <li class="nav-item">
              <%=link_to "新規登録", new_user_registration_path, class: "nav-link" %>
            </li>
          <%# <%end%> 
      </div>
    </div>
  </body>
</html>
